[2019-04-10 01:12] UnixJunkie opened #2 "can't this be hosted on a website?"
Hello,

It would be nice if people can have a quick look without having to install anything.

Regards,
F.

[2019-04-12 07:26] dominiquesydow commented on #2
Hello!

Thank you for your feedback!

As for now, we suggest to use Binder to host the repository and all needed dependencies (and updated our usage instructions accordingly).

That way you do not need to install anything locally.
You can follow this link ...
https://mybinder.org/v2/gh/volkamerlab/TeachOpenCADD/master
... and both the repository and packages are set up for you.

Note 1: Using Bind

[2019-04-12 07:44] UnixJunkie commented on #2
Cool, thanks!

[2019-04-12 07:44] #2 closed

[2019-10-16 13:06] dominiquesydow opened #9 "Rename topics, e.g. T1 > T01"
Rename topics T1-T9 as T01-T09 after refactoring of T1-10 has been finished.

[2020-01-06 21:40] davidlmobley opened #14 "Anaconda versions?"
The main README.md refers to testing with anaconda2 (python 2.x?) but the environment.yml requires python > 3.6 if I'm reading it correctly. Maybe the README is out of date?

In this day and age I'd highly recommend making sure everything uses python 3.

[2020-01-13 16:45] Farabotti opened #15 "TalkTorial 1 - T1_ChEMBL - Step 24"
Dear all,

being a new user I am struggling in some of the steps of this amazing Talktorial.
At the step 24, I do not manage to proceed to transform my "smile" structures in formula within the template.
`PandasTools.AddMoleculeColumnToFrame(output_df, smilesCol='smiles') `
Any suggestion?
Thanks

[2020-01-14 10:47] jaimergp commented on #14
Hi David, thanks for the feedback! I'm all in for dropping Python 2 altogether!

We are planning an update soon where we fix these inconsistencies. We have to get rid of our PyMol dependencies first (see #10), and then we will work on providing `conda`-installable packages. We'll keep you posted!

[2020-01-14 10:48] jaimergp commented on #15
Hi! Can you provide some more information about the error? Is there any traceback you can paste here or just a silent/wrong result? Thanks!

[2020-01-14 16:47] Farabotti commented on #15
Hi, I will try to explain myself:
the really first line would be:
`from chembl_webresource_client.new_client import new_client
import pandas as pd
import math
from rdkit.Chem import PandasTools`

but when I try to enter it I receive:
`---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-inpu

[2020-01-14 17:15] jaimergp commented on #15
Have you created a `conda` environment with the dependencies specified [in this file](https://github.com/volkamerlab/TeachOpenCADD/blob/master/environment.yml)? That should take care of all the missing packages. More instructions can be found [here](https://github.com/volkamerlab/TeachOpenCADD#install-locally-for-all-talktorials).

[2020-01-14 19:07] Farabotti commented on #15
I am actually working on Anaconda 3 on a mac. Shouldn't the CONDA env be already installed?
Thanks and sorry again for the very easy-level questions.

[2020-01-14 20:03] jaimergp commented on #15
Anaconda will provide a default environment with the installation (called `base`), but you can create more with `conda env create`! The purpose of having multiple environments is the possibility of isolating dependencies and providing reproducible configurations. In our project, we provide a file `environment.yml` with the exact dependencies so you can use our notebooks without the kind of problem

[2020-01-27 10:49] jaimergp opened #16 "Create conda package for this project"
It should be possible to make this conda-installable with a conda recipe. I'll leave this open as a reminder!

[2020-01-27 10:58] jaimergp opened #17 "Timestamp DB queries for input data consistency"
If we query the databases often, the input data will change each time (specially with T1), so all the downstream notebooks will be slightly modified. We could filter out data after an arbitrary date (let's say 1/1/2020) to reduce this noise.

When this is addressed, make sure to review the text parts where some output is mentioned (as in "the first result shows a molecule named X").

[2020-01-27 10:59] jaimergp opened #18 "CI testing"
Implement GH Actions to run all notebooks regularly with `nbval` or similar.

[2020-04-10 18:46] maubere-tls opened #20 "Talktorial 10 - Input Cell #10"
Should be,
pdb_ids = list(set(found_pbd_ids + found_pbd_ids2))

and not,
pdb_ids = list(set(found_pbd_ids + found_pbd_ids))

[2020-05-04 03:12] simsurp opened #21 "Talktorial 11b: Problems connecting to OPAL web services"
Hi.
Thank you very much for putting together these talktorials.  It's aweTsome !
I'm having issues connecting to the OPAL web services. The line ` client = Client("http://nbcr-222.ucsd.edu/opal2/services/vina_1.1.2?wsdl")` in the fonction `opal_run_docking(protein, ligand, center, size, stream_output=True)` is giving me an ExpatError and SAXParseException.
Any idea on how I could fix that?
Thanks

[2020-05-04 03:32] simsurp commented on #21
I just found this from the [NBCR website](http://nbcr.ucsd.edu/):
Please Note:  NBCR and its associated websites/services have been retired as of April 30, 2020.
Could that explain my problem?

[2020-05-04 07:43] jaimergp commented on #21
Ooooh! Definitely!

Well, that means this notebook has only historic value for now :) We'll try to find a webservice alternative to run Vina. If you find something, please let us know! Thanks for the report!

[2020-05-04 12:57] simsurp commented on #21
That’s sad.  Do you think that it could now work with SwissDock ?

De : Jaime Rodríguez-Guerra [mailto:notifications@github.com]
Envoyé : 4 mai 2020 03:43
À : volkamerlab/TeachOpenCADD <TeachOpenCADD@noreply.github.com>
Cc : Simon Surprenant <sims07@hotmail.com>; Author <author@noreply.github.com>
Objet : Re: [volkamerlab/TeachOpenCADD] Talktorial 11b: Problems connecting to OPAL web services (#21

[2020-05-04 13:09] jaimergp commented on #21
Last time I tried it wasn't working, but I didn't investigate more since we had OPAL anyway. Might be worth the try now, but I am a bit short of time lately... You can try [asking them](http://www.swissdock.ch/pages/soap_access) if the SOAP access is back online. If they reply affirmatively, I could help!

[2020-05-15 12:39] dominiquesydow opened #22 "T1: Fetch data by ChEMBL version?"
Whenever a new ChEMBL version is released, the compound/bioactivity dataset fetched in T1 will change and affect all downstream notebooks.

When doing our packaging/refactoring of all notebooks, it would be great to find out how to fetch data by ChEMBL version (e.g. frozen to the ChEMBL version/dataset shown in our TeachOpenCADD publication).

Get help:

- [ ] chembl/chembl_webresource_client#55

[2020-05-29 10:50] amitindore commented on #15
can i use these material and coding as such for an online course I am designing for pharmacy students ?

[2020-05-29 14:15] jaimergp commented on #15
Hi @amitindore!

Please refer to the [`LICENSE`](https://github.com/volkamerlab/TeachOpenCADD/blob/master/LICENSE) to check whether the covered scenarios fit your case.

I am also tagging @AndreaVolkamer and @dominiquesydow in case they want to clarify further.

[2020-06-02 09:08] dominiquesydow commented on #15
Hi @amitindore,

Thank you very much for your interest in TeachOpenCADD!

You are most welcome to use and adapt the material. When doing so please

- [cite](https://github.com/volkamerlab/TeachOpenCADD/blob/master/README.md#citation) the TeachOpenCADD publication as well as link the repo and
- grant the same or more permissive license to your material,

as pointed out by @jaimergp ([`LICENSE`](htt

[2020-06-02 14:12] jaimergp opened #25 "Add branding header to each notebook"
We might benefit from adding a standardized, custom header to each notebook to reflect the origin of the project and how to contribute back, help us develop this further and so on. I don't have any specific idea on the looks, but the Markdown cells will allow us to do anything in HTML so I think we have plenty of creative freedom there.

Some ideas:

* [Star the project](https://buttons.github.io/

[2020-06-03 10:34] amitindore commented on #15
Thanks a lot.
This is nice gestures of yours.
Would you be comfortable if we host a webinar of yours for entire pharma
fraternity of India, on this topic?

On Tue, Jun 2, 2020 at 2:38 PM Dominique Sydow <notifications@github.com>
wrote:

[2020-06-11 09:07] dominiquesydow commented on #15
Hi @amitindore,

My sincere apologies for my belated reply, it slipped my mind.

We ourselves cannot participate in such a seminar due to time constraints (in case you were also asking this), but you are absolutely welcome to use the TeachOpenCADD material for your seminar, complying with the license as discussed before.

We would be happy to hear about your experience from the course! Good luck!

[2020-06-12 05:25] amitindore commented on #15
No, no.
I am requesting you to deliver a seminar as per your convenience on this
open tutorial.
Meanwhile I would let you know that lot many images and infographics I have
taken as such from your TeachopenCADD with full acknowledgement in my free
online certificate course on AI and Drug Discovery. Once again I am
thankful to you.
Thanks.

On Thu, Jun 11, 2020 at 2:37 PM Dominique Sydow <notificati

[2020-06-12 14:32] AndreaVolkamer commented on #15
Hi @amitindore,
as my colleagues already stated, we can not offer such a seminar.
We provide the material here as an open resource meant to be used for self-study or your own class room training.
Happy to hear that the material was useful in your course and thanks for the acknowledgement.

[2020-06-13 04:36] amitindore commented on #15
Okay sir.
Thanks.

On Fri, 12 Jun 2020, 8:03 pm AndreaVolkamer, <notifications@github.com>
wrote:

[2020-06-13 07:37] dominiquesydow commented on #15
I am closing this issue, since both questions - the initial issue on an installation problem and the second question on licenses - are answered.

@Farabotti, feel free to reopen this issue in case you still have installation problems.
We are currently working on a TeachOpenCADD package, which should make installing the resource much more convenient! We'll keep you posted.

@amitindore, I wish you

[2020-06-13 07:37] #15 closed

[2020-06-17 10:39] dominiquesydow commented on #22
We decided to filter our bioactivity data by bioactivity IDs from ChEMBL 27 to freeze the dataset to the ChEMBL 27 release.

See PR for more details on the discussion #8.

[2020-06-17 10:39] #22 closed

[2020-06-26 13:44] dominiquesydow commented on #9
Closing this issue since we decided on another number scheme which will be set up during the upcoming refactoring/packaging round.

[2020-06-26 13:44] #9 closed

[2020-06-26 13:46] dominiquesydow commented on #17
We solved this problem in PR #8 where we filter fetched bioactivity data by bioactivity IDs from ChEMBL 27 release.

[2020-06-26 13:46] #17 closed

[2020-06-26 15:23] jaimergp opened #30 "Use metadata"
In the same direction as #25, we can use the[ notebook metadata](https://nbformat.readthedocs.io/en/latest/format_description.html#metadata) to host relevant information, like the category the talktorial belongs to

[2020-06-30 10:53] jaimergp commented on #25
CSS themes can be applied via `HTML()` calls on a hidden cell. Examples:

* https://nbviewer.jupyter.org/github/barbagroup/AeroPython/blob/master/lessons/01_Lesson01_sourceSink.ipynb
* https://nbviewer.jupyter.org/github/ketch/HyperPython/blob/master/Lesson_02_Traffic.ipynb

[2020-07-24 09:23] jaimergp commented on #21
Possible alternative, PLIDFlow: https://pistacho.ac.uma.es/galaxy-bitlab/

[2020-08-13 15:28] dominiquesydow opened #34 "TeachOpenCADD as Jupyter Book?"
Explore Jupyter Book to render TeachOpenCADD Jupyter Notebooks:

- https://blog.jupyter.org/announcing-the-new-jupyter-book-cbf7aa8bc72e
- https://jupyterbook.org/intro.html
- https://jupyterbook.org/start/build.html

Also, maybe use this Scientific Python introduction for talktorial `017` (rendered with Jupyter Book)?
https://python-programming.quantecon.org/index_toc.html

[2020-08-31 15:36] jaimergp commented on #34
Worth a deeper look in the future, for sure. Do you think it's something that'd replace our current plans or just an addition on top of the current efforts?

[2020-09-03 02:58] rhjohnstone opened #35 "Talktorial 4 - mistake in calculating experimental EF"
In the function `print_data_ef` in cell 46, we need to convert the inputted percentage `perc_ranked_dataset` into a fraction to successfully compare with the values in `enrich_df`.

Also, in cell 47, when using the concatenated dataframe `enrich_df`, the function `print_data_ef` takes the last line to find the relevant fraction, so will always choose whichever similarity measure was second in the

[2020-09-03 14:21] dominiquesydow commented on #35
@rhjohnstone, thank you a lot for catching this! We will merge your PR #36 as-is in a moment.

[2020-09-03 14:23] #35 closed

[2020-09-04 03:31] rhjohnstone opened #37 "T5: clusters are not sorted by size by default"
Cell 17:

[code]

However, the clusters returned by `Butina.ClusterData(distance_matr,len(fps),cutoff,isDistData=True)` are not sorted by default, i.e. we cannot guarantee that `clusters[1]` is indeed the second largest cluster.

In the talktorial, it does happen that (at least) the first two clusters are correctly ordered, but when I was using a different original target, the second cluster only

[2020-09-17 12:48] #37 closed

[2020-09-20 21:30] jaimergp opened #41 "Talktorial template"
# How to start

Replace example names as needed:

[code]
Now you can start working on your talktorial!

# Render the website locally

Once your talktorial ready, check how it renders in HTML.

[code]
If your notebook does not appear, you need to add the `nblink` forwarder in `docs/notebooks`. Copy paste an existing ones and update paths accordingly!

# PR template

Create a PR using this template.

[2020-09-21 06:37] dominiquesydow commented on #41
I added:

Content review:

* [ ] The table of contents reflects the talktorial story-line and is hierarchically correct (check order of #, ##, ### headers)
* [ ] I have spell-checked the notebook
* [ ] I have checked that cell outputs are not too long (not more than 30 lines; this applies also to `DataFrames`)
* [ ] Markdown cell content is still in-line with code cell output (whenever results are

[2020-09-21 06:51] dominiquesydow commented on #41
Do we want everyone to push only notebooks without executed cells, @jaimergp? If so, we should add this to the checklist.

[2020-09-21 06:55] jaimergp commented on #41
It's ok for now. We'll clear everything before merge anyway!

[2020-10-03 08:12] t-kimber commented on #41
Super nice, super clear! Love the template :)

Just a note for MAC users:
in the **Render the website locally** section, the command which will render the website is `open index.html` (and not `xdg-open index.html`).

[2020-10-03 08:44] t-kimber commented on #41
What do you think if we add to the checklist a bullet point concerning populating the README.md in each talktorial folder (title, aim, learning goals, categories) ?

[2020-10-05 08:03] jaimergp commented on #41
This is going to be automated with a little script. Do take a look at `<Talktorial>/data/README.md`, tho 😬

[2020-10-22 12:14] jaimergp commented on #20
Addressed in #44

[2020-10-22 12:14] #20 closed

[2020-10-26 11:03] t-kimber commented on #41
Just a small detail:

since the _reviews_ branch no longer exists, it might be an idea to change the todo list with _package_ , e.g. `git checkout package` instead of `git checkout reviews`?

[2020-11-13 11:58] dominiquesydow opened #58 "Talktorial index"
This index gives an overview on the available TeachOpenCADD talktorials in our upcoming release (with comments on their previous index in TeachOpenCADD v1).

- `000_template`  # new
- `001_query_chembl`  # T1
- `002_compound_adme`  # T2
- `003_compound_unwanted_substructures`  # T3
- `004_compound_similarity`  # T4
- `005_compound_clustering`  # T5
- `006_compound_maximum_common_substructures`  #

[2020-11-13 11:59] dominiquesydow commented on #58
Update index once we finalized how to split the T11 pipeline.

[2020-11-14 12:28] jaimergp opened #63 "CI: don't forget adding more notebooks to `treebeard.yaml`"
As we open PRs, these need to add their new notebooks to `treebeard.yaml`. This won't be needed _once_ the existing notebooks in tree have been processed. This involves minor changes to the CI pipelines so we just `ls` the directory instead of cherry picking which notebooks have to undergo testing.

[2020-11-23 09:47] #14 closed

[2020-11-23 09:47] #16 closed

[2020-11-23 09:47] #18 closed

[2020-11-23 09:47] #58 closed

[2020-11-26 09:48] dominiquesydow commented on #41
Thanks, @jaimergp, for updating the template for the next round of talktorial refactoring :)

[2020-11-27 09:32] jaimergp opened #77 "RDKit and pypdb are pinned to old releases - update relevant notebooks"
Last nightly contained a change in the Python 3.9 branch: T002 is reporting a different subset of compounds (just one entry, though).

https://github.com/volkamerlab/teachopencadd/runs/1461859605?check_suite_focus=true#step:8:47

Might be temporary (if the database was changing, it should affect all branches), so we'll wait until tomorrow to see if that's the case.

This nightly also reported a [b

[2020-11-27 09:47] jaimergp commented on #77
Interestingly the py39 branch is silently a py38 because the env resolution can only work through a python downgrade... 🤔 Trying to reproduce locally, but this might be a problem with `setup-miniconda`. Makes you wonder why this is failing to begin with, if the real py38 branch is indeed working 🤣

[2020-12-08 10:52] jaimergp opened #80 "Jupyter Lab 3"
This is going to be released soon, which enables dynamic extensions. This will allow us to provide a package that works right away without having to worry about `jupyter labextension install bla bla bla`. Leaving this here so I don't forget to update the environment and recipe :)

[2020-12-11 10:14] jaimergp commented on #77
Using this issue to track problems seen in #78

We are pinning RDKit to `>=2018.09.2.0,<2020.09.2` and `pypdb` to `1.*` for now. We'll address the unpinning in a new PR in the future.

[2021-01-11 15:13] dominiquesydow commented on #80
Hi @volkamerlab/core,

When I am installing our [test environment `test_env.yaml`](https://github.com/volkamerlab/opencadd/blob/master/devtools/conda-envs/test_env.yaml) from scratch, I am running into errors when displaying widgets with `nglview` using JupyterLab 3.

![image](https://user-images.githubusercontent.com/7207093/104199063-43a0c700-5427-11eb-9a96-e9161eb3866d.png)

I think this will s

[2021-01-11 15:20] jaimergp commented on #80
I haven't tested it yet, but pinning sounds like a good idea if you already found some rough edges. Back-compatibility is in principle kept, but 🤷

Let's pin for now but leave this open so we revisit that at some point in the (not so distant) future.

[2021-01-11 15:23] dominiquesydow commented on #80
Ok, great, thanks! :)

Quick question regarding the where: I would pin it now in our refactoring base [`t011-base`](https://github.com/volkamerlab/teachopencadd/tree/t011-base) and everyone will need to update this before merging into `t011-base`, is that correct?

[2021-01-11 15:24] jaimergp commented on #80
Let's do it in a PR targeting `master`, since the problem is affecting all notebooks already. We will rebase as needed.

[2021-01-11 15:25] dominiquesydow commented on #80
True! Sounds better, will do that now.

[2021-01-11 15:25] jaimergp commented on #80
Thank you!! 🥳

[2021-01-11 17:30] dominiquesydow commented on #77
Did the pinning happen?

CI (PR for `master` < `pin-jlab2`) installs `rdkit` 2020.09.3 (check [CI report](https://github.com/volkamerlab/teachopencadd/pull/89/checks?check_run_id=1682290494#step:6:277)) and `pypdb` 2.0 (check [CI report](https://github.com/volkamerlab/teachopencadd/pull/89/checks?check_run_id=1682290494#step:6:256)).

[2021-01-11 17:36] dominiquesydow opened #90 "Update `pypdb`-related notebooks T008 and T010"
`pypdb`-related notebooks must be updated since the old API does not work any more due to changes in the RCSB API.

From `pypdb`'s GH page:

Check out the new API:
https://github.com/williamgilpin/pypdb/blob/master/demos/demos.ipynb

---

__Example issue in T010__:

Input:
[code]
Output:
[code]

[2021-01-11 17:36] dominiquesydow commented on #90
Affects T008 and T010.

[2021-01-11 17:37] dominiquesydow commented on #90
The only option I see is updating these two talktorials to the latest `pypdb` API. Do you agree, @jaimergp? I am volunteering to do that.

[2021-01-11 17:40] dominiquesydow commented on #90
Discussed also in https://github.com/volkamerlab/teachopencadd/pull/89 (not linking it because that PR is initially only about pinning JLab 2).

[2021-01-11 17:40] jaimergp opened #91 "Black-nb exclusions"
Right now we are excluding T002 from being black checked. See comment here https://github.com/volkamerlab/teachopencadd/pull/89#issuecomment-758054969.

This is a note to remind us we should remove that exclusion whenever https://github.com/psf/black/issues/1629 is fixed.

[2021-01-11 17:42] jaimergp commented on #90
Moving to the latest `pypdb` API is definitely the way forward. If you have the bandwidth, feel free to go ahead! Ping me as needed, of course!

[2021-01-11 17:44] dominiquesydow commented on #90
Just to make sure I do not misunderstand the `pypdb` issue - we cannot use the 1.* versions any more because the old RCSB API is not supported any more. Meaning, we _have_ to update to the newest `pypdb` API, correct?

[2021-01-11 19:46] jaimergp commented on #77
Looks like I never worked on https://github.com/volkamerlab/teachopencadd/pull/78 as intended 😬

[2021-01-13 10:21] jaimergp commented on #90
Unfortunately, that's the case, yes. Read more [here](https://github.com/williamgilpin/pypdb/issues/16).

[2021-02-18 13:22] dominiquesydow opened #94 "ChEMBL 28 is out"
Update ChEMBL query in T001 (and all downstream talktorials T002-T008).

This is not time sensitive but we should remember to do this at some point :)

[2021-03-18 07:54] dominiquesydow commented on #90
Some functionalities are not yet available via `pypdb` yet, which we use in our notebooks.
Example for T010 - fetch all Imatinib-bound structures.

Maybe this will help to set up a workaround?
https://asciieg.wordpress.com/

[2021-03-25 09:55] jaimergp commented on #90
We can also write some functions for the REST API and use those directly, bypassing `pypdb` entirely.

[2021-05-03 14:24] #77 closed

[2021-05-03 14:24] #80 closed

[2021-05-03 14:24] #91 closed

[2021-05-05 18:16] TolgaCorbaci opened #100 "ModuleNotFoundError"
Binder talktorials cannot find and import the module
![image](https://user-images.githubusercontent.com/53476453/117189717-2c775200-ade7-11eb-9273-593c2b4c30b3.png)

[2021-05-06 06:03] dominiquesydow commented on #100
Hi @TolgaCorbaci, I can reproduce this problem - thanks for reporting (example here: T007). We will investigate and get back to you.

[2021-05-06 06:05] dominiquesydow commented on #100
@jaimergp, this might happen because we have moved the `environment.yml` file from the repo root to `devtools/` so that Binder cannot find any installation instructions any more?

[2021-05-06 06:18] jaimergp commented on #100
Oops, yes, my fault. I'll revert today, sorry.

[2021-05-06 07:22] jaimergp commented on #100
@TolgaCorbaci, thanks for the report! It should be fixed now. If you can please check, we can consider this as solved then!

[2021-05-06 07:33] jaimergp commented on #100
Oops, maybe it's not... 😬 One second!

[2021-05-06 09:10] jaimergp commented on #100
Ok, _now_ :D

[2021-05-06 10:00] TolgaCorbaci commented on #100
Problem seems to be solved, thank you so much guys, appreciate it.

[2021-05-06 10:00] #100 closed

[2021-05-12 12:31] dominiquesydow opened #103 "T014: ccp4 visualization with nglview broken?"
#### Summary
Note: This bug is not on our end.
Volumes in `nglview` are currently not visualized in Jupyter Lab (you can look at them with Jupyter Notebook though).

#### Where?
https://nbviewer.jupyter.org/github/volkamerlab/teachopencadd/blob/t011-base/teachopencadd/talktorials/T014_binding_site_detection/talktorial.ipynb
Cell 18

[2021-05-12 14:33] dominiquesydow commented on #90
Took a look at T010 again.

**What we want**

Get the PDB IDs of all structures that are bound to some query ligand (e.g. STI).

---

**Problem**

We were using
[code]
to search for structures bound to STI. This method is not available any more in `pypdb` since RCSB made their API changes.

---

**Attempt 1**

I looked around the `pypdb` package to find something similar, the only thing I found is

[2021-05-12 15:31] AndreaVolkamer commented on #90
@dominiquesydow not sure if the answer is in there, but @schallerdavid also investigated in that direction in PLIP-related project ([here](https://github.com/volkamerlab/plipify/blob/project03/projects/03/main.ipynb)).

[2021-05-12 17:32] schallerdavid commented on #90
@dominiquesydow maybe biotite would be an option here, but also with this tool I had limitations to get ligand information. I can investigate this but I may not have time for this in the next couple of days.

[2021-05-12 19:23] schallerdavid commented on #90
@dominiquesydow ,

I found a solution for your problem using biotite:

[code]

The `results` contains 27 pdb ids which matches to the number when querying the pdb manually.

[2021-05-12 19:29] schallerdavid commented on #90
Btw, you can search this [website](https://search.rcsb.org/search-attributes.html) to find attributes you want to query for. The only problem left is, that you can only retrieve PDB codes right now. Querying a pdb code as an attribute to retrieve all co-crystallized expo ids is currently not possible. But I think this is more a problem on the PDB API site. If you are interested on how to still get

[2021-05-14 07:11] dominiquesydow commented on #90
@schallerdavid, thanks a lot, this is super helpful!!

[2021-05-14 09:33] dominiquesydow commented on #90
T010 issues are solved (using `biotite` instead of `pypdb` to query PDB IDs matching a list of criteria). This issue will close with the merge of #74.

[2021-05-17 11:01] jaimergp commented on #103
Is this still pending?

[2021-05-17 11:07] dominiquesydow commented on #103
Yes.

[2021-05-17 11:21] dominiquesydow commented on #103
Minimal example:

[code]
Will not show the volume anymore:
![image](https://user-images.githubusercontent.com/7207093/118480622-c5c13500-b712-11eb-8298-d4a701d91fb1.png)

Notebook runs without errors.

[2021-05-17 11:33] jaimergp commented on #103
Console shows `error loading file: 'RangeError: Invalid typed array length: 56'`

[2021-05-17 11:34] jaimergp commented on #103
Possibly related: https://github.com/nglviewer/nglview/issues/975

[2021-05-17 12:07] jaimergp commented on #103
PyMol does work with the same file, so it's definitely on NGLView's side:

![image](https://user-images.githubusercontent.com/2559438/118485830-2d7a7e80-b719-11eb-8b2a-d0165b51989e.png)

[2021-05-17 17:00] TolgaCorbaci commented on #90
T008 has similar problem
AttributeError: module 'pypdb' has no attribute 'get_ligands'

[2021-05-18 05:50] dominiquesydow commented on #90
Hi @TolgaCorbaci, thank you for your report! We have now fixed talktorials T008 and T010 in PR https://github.com/volkamerlab/teachopencadd/pull/74 but we'll need a bit more time to merge it. If you'd like to start working with them right away you could checkout branch `t011-base` (note that this is a branch with quite some activity at the moment, notebooks still undergo changes).

[2021-05-18 08:24] jaimergp commented on #90
@dominiquesydow should we use `biotite` on T008 too?

[2021-05-18 10:41] dominiquesydow commented on #90
Thought about it as well. Would be definitely easier to read since it needs less code. You want me to take over?

Side note: `pypdb` mention in this context still needs to be removed.

[2021-05-18 14:28] jaimergp commented on #90
Please 🙏

[2021-05-31 11:52] dominiquesydow opened #105 "Docs not synced with `master`?"
Docs are not synced with `master` branch.

We have the latest installation link on [`master`](https://github.com/volkamerlab/teachopencadd/blob/master/docs/installing.rst): https://raw.githubusercontent.com/volkamerlab/TeachOpenCADD/master/devtools/other-conda-envs/users_env.yml

But the deprecated installation link still shows up on the [website](https://projects.volkamerlab.org/teachopencadd/ins

[2021-06-02 11:26] dominiquesydow commented on #90
T008 and T010 are now both ready. Will be merged into `master` with PR #42.

[2021-06-03 12:07] jaimergp commented on #105
We don't deploy to Read the docs, but to GH Pages thorugh the CI pipeline in GH Actions. See logs [here](https://github.com/volkamerlab/teachopencadd/runs/2516791859). There's an issue with some objects that I think I fixed in the mega PR.

[2021-06-21 11:28] schallerdavid opened #107 "T019 ligand conversion"
Adding an RDKit molecule to an OpenMM system might be easier than currently implemented in the [T019 talktorial](https://github.com/volkamerlab/teachopencadd/blob/t011-base/teachopencadd/talktorials/T019_md_simulation/talktorial.ipynb). We should evaluate the strategy in this [notebook](https://github.com/openforcefield/openff-toolkit/blob/master/examples/toolkit_showcase/toolkit_showcase.ipynb).

[2021-07-03 08:45] Carlbullish commented on #90
Hi guys. Please has the pypdb query issue for T008 been fixed? i'm still having a problem with the error at get_ligands

[2021-07-04 16:27] Carlbullish commented on #90
I am also having issues with this line could this be checked into?
results = align(complexes, method=METHODS["mda"])

this is the error i  keep getting.
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-95-75600e02e635> in <module>()
----> 1 results = align(complexes, method=METHODS

[2021-07-05 06:18] Carlbullish opened #108 "T008: Align Complexes doesn't work"
I am also having issues with this line could this be checked into? i tried using jupyter notebooks and google colab but still couldn't get around it

results = align(complexes, method=METHODS["mda"])

this is the error i keep getting when i run the code
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call

[2021-07-05 08:18] jaimergp commented on #108
Hi!

I recall this is an issue with the version of `biopython` installed in your environment. As a workaround, you need to make sure its version is `biopython<=1.77`.

[2021-07-06 06:21] dominiquesydow commented on #90
Hi @Carlbullish, thank you for the reminder. We have fixed the `pypdb`-based talktorials T008 and T010 in branch `t011-base`. We had to replace some `pypdb` functionalities with `biotite`. The changes are still stuck in a larger PR (https://github.com/volkamerlab/teachopencadd/pull/74); let me pull them to `master` later today.

If you'd like to start right away, please checkout the branch `t011-b

[2021-07-06 06:25] dominiquesydow commented on #90
Cross-referencing this to: https://github.com/volkamerlab/teachopencadd/issues/108

[2021-07-06 15:58] Carlbullish commented on #108
Thank you Jaime.

Thank you Jaime

[2021-07-06 16:27] #108 closed

[2021-07-08 22:04] Carlbullish opened #110 "Talktorial T013 .ipynb is missing in the master repo for Query Klifs"
I had to check the t011 branch to get the tutorial and all the codes in there seem fine. The team can have a look into it. Thanks for the awesome job. Getting to know about TeachOpenCADD is one of the best things that has happened to me this year.

[2021-07-09 06:23] dominiquesydow commented on #110
Hi @Carlbullish, that is wonderful - very happy to hear this!

The current `master` branch officially only contains T001-T010, while the notebooks >T011 are still work in progress, which runs on `t011-base` as you already found out. If you find bugs or have suggestions, we are happy to hear about them, so that it can be fixed before merging the new material into `master`.

FYI: This is the PR with

[2021-07-09 15:55] Carlbullish commented on #110
Alright.. Thanks. I wished they were out already :)

[2021-07-09 15:55] #110 closed

[2021-07-09 17:09] Carlbullish opened #111 "T015_protein_ligand_docking Using OPAL Attribute error: Nonetype object has no attribute atttrs"
When i run the code below:

%time result = step_03_opal(PROTEIN, smiles[:1], COMPLEX)

i get the following error:
AttributeError                            Traceback (most recent call last)
<timed exec> in <module>

~\AppData\Local\Temp/ipykernel_6344/2733412323.py in step_03_opal(protein, smiles, pdbcomplex)
     14     """
     15     prepared_protein = opal_prepare_protein(protein)
---> 16

[2021-07-09 18:45] AndreaVolkamer commented on #111
@Carlbullish can you tell us which PR you are using. Because in the newest [T015](https://github.com/volkamerlab/teachopencadd/blob/t011-base/teachopencadd/talktorials/T015_protein_ligand_docking/talktorial.ipynb), we moved away from OPAL and are using smina as docking engine. The functioning notebook additions are all in [PR #74](https://github.com/volkamerlab/teachopencadd/pull/74) in the  [T011

[2021-07-10 08:13] Carlbullish commented on #111
Hi @AndreaVolkamer. Thanks . i got to find the newest T015, I still ran into an issue when i tried to use smina This is the code below:
output_text = run_smina(
    DATA / "ligand.pdbqt",
    DATA / "protein.pdbqt",
    DATA / "docking_poses.sdf",
    pocket_center,
    pocket_size,
)
print(output_text)

The error i get :

FileNotFoundError                         Traceback (most recent call last)

[2021-07-10 08:30] Carlbullish commented on #111
I figured it out! You need to add
conda install -c conda-forge smina

to the opening import library section :). So that learners like me know that having it installed is necessary to get the dock output. Thanks

[2021-07-10 11:26] Carlbullish opened #112 "PLIP installation error for T016 Protein Ligand Interactions"
I have openbabel installed but still i get this error message on my cmd prompt:

Collecting plip
  Using cached plip-2.2.2-py3-none-any.whl (93 kB)
Requirement already satisfied: numpy in c:\users\que\anaconda3\envs\introductiontopython\lib\site-packages (from plip) (1.21.0)
Collecting lxml
  Using cached lxml-4.6.3-cp38-cp38-win_amd64.whl (3.5 MB)
Collecting openbabel
  Using cached openbabel-3.1

[2021-07-10 11:28] #111 closed

[2021-07-10 11:43] #112 closed

[2021-07-10 11:45] Carlbullish commented on #112
I'll recommend the
conda install -c conda-forge plip

rather than pip install.! works better

[2021-07-12 07:20] dominiquesydow commented on #111
Hi @Carlbullish,

In order to have less troubles with missing packages, I recommend to install a `conda` environment with all packages needed for the `t011-base` branch:

[code]

[2021-07-13 12:19] dominiquesydow opened #113 "T006 text edit"
Add level-2 bullet points here:
![image](https://user-images.githubusercontent.com/7207093/125450308-0751f3a9-88af-4123-8002-ca899cd15729.png)
https://projects.volkamerlab.org/teachopencadd/talktorials/T006_compound_maximum_common_substructures.html

[2021-07-13 12:47] dominiquesydow commented on #113
## T015

![image](https://user-images.githubusercontent.com/7207093/125454050-7153b5d7-d8b9-45f7-88a3-711682ecadb1.png)

[2021-07-15 06:51] KimHyeonKi opened #114 "Is there a way to get a common cut-off value?"
"T007 · Ligand-based screening: machine learning" was very helpful for us. Thanks for sharing this article.

I just have one question.

We are using IC50 data targeting other cells of ChEMBL, but our data does not have a few comments to divide "active" and "inactive".

Therefore, we also have to divide based on the pIC50 value, and I would like to know how to get the cut-off of 6.3 in the article

[2021-07-15 08:31] dominiquesydow commented on #114
Hi @KimHyeonKi,

Thanks for posting this issue!

We based the pIC50 cutoff of 6.3 on this work:
https://pubs.acs.org/doi/10.1021/acs.jmedchem.6b01611
https://github.com/Team-SKI/Publications/blob/master/Profiling_prediction_of_kinase_inhibitors/Build_ABL1_model.ipynb

Cutoff do differ in literature though, e.g. here a pIC50 of 6.5 is used:
https://pubs.acs.org/doi/10.1021/ci500342q
https://jchemin

[2021-07-15 08:33] dominiquesydow commented on #113
## T007
- Add reference to 6.3 cutoff (https://github.com/volkamerlab/teachopencadd/issues/114)
  - https://pubs.acs.org/doi/10.1021/acs.jmedchem.6b01611
  - https://github.com/Team-SKI/Publications/blob/master/Profiling_prediction_of_kinase_inhibitors/Build_ABL1_model.ipynb
- Typo 6,3 > 6.3

[2021-07-16 07:04] KimHyeonKi commented on #114
@dominiquesydow

Thank you for your kind reply.

We looked at the articles you recommended and came to the conclusion that the cut-off value of a lot of data for each target is flexible and should be decided in consultation with the person who analyzes the data and the person who does the modeling.

We collected the various toxicity thresholds mentioned in each assay through the source of the IC50

[2021-07-29 08:24] #90 closed

[2021-08-18 07:29] dominiquesydow opened #124 "T008: PDB API for chemicals changed"
The PDB API changed again and may not be updated in `biotite`.

Talktorial T008 throws the following error (cell 9):
[code]
As far as I understand they split the Search Service from `text` into `text` and `text_chem`:
https://search.rcsb.org/#search-services

They split the search attribute web pages (needs updating in the talktorial as well)
- https://search.rcsb.org/chemical-search-attributes.ht

[2021-08-18 13:03] dominiquesydow commented on #114
Thank you @KimHyeonKi for sharing your approach here!
I am closing this issue, please feel free to re-open if needed.

[2021-08-18 13:03] #114 closed

[2021-08-25 09:40] dominiquesydow commented on #103
Since this is still pending, I added a note to the talktorial that the volume is visible with Jupyter Notebook (not Lab).

[2021-08-27 07:52] schallerdavid opened #126 "T015: Docking with python API"
Currently our T015 docking talktorial uses `smina` for docking, which works very well and is installable via conda-forge, but it does not have a Python API. Recently, `AutoDock Vina` released a new version that has a python API ([installation instructions](https://autodock-vina.readthedocs.io/en/latest/installation.html)). We could think moving to this package in the future.

[2021-08-27 11:29] dominiquesydow opened #128 "Broken links"
## From the docs CI:

### [fixed] external resources
├─BROKEN─ https://psychiatrie-psychotherapie.charite.de/en/research/neuroimaging_and_neurotechnology/machine_learning/ (HTTP_404)

├─BROKEN─ https://en.gdch.de/main-navi/network-structures/divisions/computers-in-chemistry.html (HTTP_404)

### [fixed] t007
├─BROKEN─ https://doi.org/10.1023/A:1010933404324 (BLC_UNKNOWN)
├─BROKEN─ https://doi.org/1

[2021-08-30 15:15] Carlbullish commented on #124
Hi @dominiquesydow , so please how can we get the issue resolved?

[2021-08-31 06:19] dominiquesydow commented on #124
Hi @Carlbullish,

We are currently waiting for `biotite` to cut a new `conda` release, which should happen this week:
https://github.com/biotite-dev/biotite/issues/347#issuecomment-907117669

In that case, a simple `conda update biotite` should be enough. I will comment here when this happened.

If you want to get started earlier, please remove your `biotite` `conda` installation and `pip` install

[2021-08-31 16:36] Carlbullish commented on #124
Thanks a lot @dominiquesydow .. I look forward to it. I guess i will wait for the update then.

And if you dont mind me asking, running the binder for talktorial 10 and other talktorials afterwards, is not yet implemented for successful execution as compared to talktorial 1 - talktorial 10?

[2021-08-31 21:15] andresilvapimentel opened #129 "Installing TeachOpenCADD on google colab"
I am trying to install TeachOpenCADD on google colab using the instruction in the web page:

https://projects.volkamerlab.org/teachopencadd/installing.html

After installing conda in the notebook, the command below gives the following error:

!conda env create -f https://raw.githubusercontent.com/volkamerlab/TeachOpenCADD/master/environment.yml

CondaHTTPError: HTTP 404 NOT FOUND for url <https://

[2021-09-01 06:19] dominiquesydow commented on #105
Hi @jaimergp, could you please point me to the fix mentioned in your command before?

[2021-09-01 06:22] dominiquesydow commented on #129
Hi @andresilvapimentel,

Thank you for bringing this up!

Can you please try:
https://raw.githubusercontent.com/volkamerlab/TeachOpenCADD/master/devtools/other-conda-envs/users_env.yml

[2021-09-01 06:23] dominiquesydow commented on #105
Linked to #129

[2021-09-01 06:39] dominiquesydow opened #130 "Include new talktorials to binder setup"
Upon merge of #74 make sure new talktorials run with binder setup; add notes to those that may not run there (e.g. MD simulation).

---

This issue is prompted by @Carlbullish's question in https://github.com/volkamerlab/teachopencadd/issues/124#issuecomment-909398622:

- [Resolved, see comments below] Talktorial 010 seems to run fine on Binder; @Carlbullish, did you run into troubles
- Talktorial

[2021-09-01 06:40] dominiquesydow commented on #124
Hi @Carlbullish,

Great, I'll keep you posted.

Regarding

Please see https://github.com/volkamerlab/teachopencadd/issues/130; thanks for putting this on my map!

[2021-09-01 14:03] Carlbullish commented on #124
Thanks @dominiquesydow , i'll keep tabs with progress made too.

[2021-09-01 23:42] andresilvapimentel commented on #129
Dear Dominique,
I did install the conda enviroment, but I could not run the teachopencadd as requested for testing following the instructions on https://projects.volkamerlab.org/teachopencadd/installing.html

The google colab could not find the teachopencadd package.

Do you know what is going on? Here is what I did on google colab:

! wget https://repo.anaconda.com/miniconda/Miniconda3-py37_4.8.2

[2021-09-02 08:35] Carlbullish opened #131 "Talktorial 3 Unwanted Substructure Brenk Error"
Hi @dominiquesydow
In [10] comes up with the following error when I run it. It worked fine about 2 months ago when i actually just got introduced to TeachOpenCADD

[code]

[2021-09-02 08:38] Carlbullish commented on #130
@dominiquesydow . I didn't run into any trouble actually, Getting a choice Ligand to Query with enough PDB complexes to use was actually my issue. Imatinib happens to have quite a number of these complexes compared to other ligands i have been trying to work with

[2021-09-02 08:39] Carlbullish commented on #130
Thanks for the good job you all are doing.

[2021-09-02 11:37] dominiquesydow commented on #131
Hi @Carlbullish,

Locally I cannot reproduce this error, yet, but our CI picked it up as well
https://github.com/volkamerlab/teachopencadd/runs/3442638295#step:8:61

I am investigating. Thank you for reporting this!

[2021-09-02 12:35] dominiquesydow commented on #131
I remember that error now; we use a workaround in our `t011-base` branch (sorry for always referring back to that PR).

The problem is that the first molecule in the Brenk list cannot be displayed out-of-the-box in the grid image.
Brenk list: https://github.com/volkamerlab/teachopencadd/blob/master/teachopencadd/talktorials/T003_compound_unwanted_substructures/data/unwanted_substructures.csv

[cod

[2021-09-02 13:11] dominiquesydow commented on #129
@jaimergp can you help out with this Google Colab question?

I get the TeachOpenCADD environment installed but I am unsure how to activate it

[code]

[2021-09-02 13:59] jaimergp commented on #129
Colab runs a Python process already, so we need to stay with the `base` environment. If you want to install stuff from a YML, `update` it after the kernel restart (separate cell).

[code]

[2021-09-02 19:01] andresilvapimentel commented on #129
When I run the mamba by using:

!pip install condacolab
import condacolab
condacolab.install()
!mamba install -f https://raw.githubusercontent.com/volkamerlab/TeachOpenCADD/master/devtools/other-conda-envs/users_env.yml -n toc

I get the error: EnvironmentLocationNotFound: Not a conda environment: /usr/local/envs/toc

So, it does not work it...

[2021-09-02 19:33] #124 closed

[2021-09-02 19:34] dominiquesydow commented on #124
Please try out the latest version of T008 on the `master` branch.

[2021-09-02 20:04] #128 closed

[2021-09-02 21:20] dominiquesydow opened #134 "T001: Frozen bioactivity dataset is not frozen"
In T001, we thought we froze the bioactivity dataset (by checking for activity IDs in ChEMBL 27) but it seems not to work.

Version on `master` branch:
Number of bioactivities queried for EGFR in this notebook: 7178
Number of bioactivities after ChEMBL 27 intersection: **7178**

Running this notebook today:
Number of bioactivities queried for EGFR in this notebook: 8817
Number of bioactivities aft

[2021-09-04 08:42] Carlbullish commented on #131
Workaround seems just fine.. Thanks it worked.

[2021-09-04 08:42] #131 closed

[2021-09-06 15:06] jaimergp commented on #129
You need to run these code blocks in two different cells:

First cell:

[code]

Execute it and wait for the kernel to restart.

Second cell:

[code]

Run it and then, in a third cell, you can import the packages.

[2021-09-06 17:05] andresilvapimentel commented on #129
Thanks.
It works!!!

Em seg., 6 de set. de 2021 às 12:06, Jaime Rodríguez-Guerra <
***@***.***> escreveu:

[2021-09-07 21:46] #129 closed

[2021-09-07 21:53] andresilvapimentel opened #135 "Notebook Ligand_based_pharmacophores"
The notebook T009_Ligand_based_pharmacophores is not working. The cell [5] has a list molecules but it shuld be the list molecule.
However, if I correct this issue, the mol_file could not be read because the type is None.

Do you know if there is another issue in this notebook?

[2021-09-08 06:23] dominiquesydow commented on #135
Hi @andresilvapimentel, did you close this issue because it resolved itself on your end?
I just checked, I can run the T009 talktarial from the `master` branch without problems.

[2021-09-08 08:32] andresilvapimentel commented on #135
Yes.. Thanks.

Em qua, 8 de set de 2021 03:23, Dominique Sydow ***@***.***>
escreveu:

[2021-09-08 09:11] dominiquesydow opened #136 "T019: No openmmforcefields under Windows"
T019 does not run under Windows.

Our CI fails with: `ModuleNotFoundError: No module named 'openff'`

#### Why?

https://github.com/volkamerlab/teachopencadd/blob/d1e92f454e84045e92caa718211d9c528790ca0f/devtools/test_env.yml#L30-L32

See also here: https://github.com/volkamerlab/teachopencadd/pull/74#issuecomment-842160547

`openmmforcefields` may cause the problem, check progress of this issue:

[2021-09-08 09:44] dominiquesydow commented on #134
The numbers we used to determine uniqueness may not be identifies; thus let's go with the freezing the final output dataset to this dataset:
https://github.com/volkamerlab/teachopencadd/blob/ea055ef7b14d57eda20482c42c7b39da0fd8368a/teachopencadd/talktorials/T001_query_chembl/data/EGFR_compounds.csv

- Rename file from `EGFR_compounds.csv` to `EGFR_compounds_ea055ef.csv` (added commit hash).
- Add

[2021-09-08 10:37] dominiquesydow opened #137 "Open tasks for version 2021.1"
Open tasks for the v2.0.0 release (after the merge of #74):

- [x] Make sure Binder runs #130 (maybe in another PR after this one?)
- [x] Website: https://github.com/volkamerlab/teachopencadd/issues/105
- [x] T018: Add a disclaimer that notebook is not ready yet: https://github.com/volkamerlab/teachopencadd/pull/142
- [x] T018: Add talktorial: #125
- [x] Add new tag v2.0.0
- [x] Fix conda packagin

[2021-09-08 10:40] dominiquesydow commented on #34
I am closing this issue now, since we are not planning to set up a Jupyter Book in the foreseeable future (we have the website instead).

[2021-09-08 10:40] #34 closed

[2021-09-08 10:42] dominiquesydow commented on #63
Closing this issue since we are not using `treebeard` anymore.

[2021-09-08 10:42] #63 closed

[2021-09-08 10:54] dominiquesydow commented on #21
As a heads-up: This issue will be closed automatically with the merge of #74. The docking part of the former 11b talkorial was moved to talktorial T015, which uses `smina` for docking.

[2021-09-08 12:27] Carlbullish commented on #136
Thanks @dominiquesydow for your efforts.. I do hope this issue gets resolved.

[2021-09-08 12:44] dominiquesydow opened #138 "T016: Nitrogen is recognized differently on Windows vs. Unix"
#### CI error message

[code]
#### Why?

From https://github.com/volkamerlab/teachopencadd/pull/74#issuecomment-842287171

From https://plip-tool.biotec.tu-dresden.de/plip-web/plip/help

Atom types in OpenBabel:
[code]
From https://github.com/openbabel/openbabel/blob/master/data/atomtyp.txt

[2021-09-08 12:59] dominiquesydow opened #139 "Make repo less heavy"
Repo is quite big already (0.5 GB). When someone can allocate time, look into options to make it less heavy.

[2021-09-08 13:23] dominiquesydow commented on #137
### Conda packaging - TODOs

- [ ] Add `autodocktools-prepare-py3k` to `conda`: https://github.com/volkamerlab/teachopencadd/blob/dd540f531cefe69f4754e276d271eac1e97395e1/devtools/test_env.yml#L50
- [ ] Add `opencadd` to `conda`: https://github.com/volkamerlab/teachopencadd/blob/dd540f531cefe69f4754e276d271eac1e97395e1/devtools/test_env.yml#L51
- [ ] Submit `teachopencadd` package to `conda-forge`

[2021-09-08 13:41] jaimergp commented on #137
Yes, we might need to adapt some bits for cf, but most of the recipe is already there.

It builds the recipe locally, to ensure that our `meta.yaml` is still in good shape.

And yes, at least OpenCADD needs to be added to conda-forge. Autodocktools Prepare can be left outside and we just pip-install it in the relevant notebooks (it's a fork of an unmaintained project, makes little sense to package

[2021-09-09 08:23] dominiquesydow commented on #138
OpenBabel seems to recognize the nitrogen 2373 in PDB 3poz differently under Windows and Unix; we will remove our nbval check from this cell for now and contact the maintainers.

Add the nbval check back if the issue gets solved.

[2021-09-09 08:42] schallerdavid commented on #138
Issue raised on OpenBabel [#2409](https://github.com/openbabel/openbabel/issues/2409)

[2021-09-09 10:02] #21 closed

[2021-09-09 10:02] #103 closed

[2021-09-09 10:02] #134 closed

[2021-09-09 10:02] #136 closed

[2021-09-09 13:48] dominiquesydow commented on #130
The new notebooks (>T010) are running on Binder; please re-open this issue if you run into troubles.

[2021-09-09 13:48] #130 closed

[2021-09-09 13:49] dominiquesydow commented on #105
Docs are passing and the website therefore in sync again :)

[2021-09-09 13:49] #105 closed

[2021-09-09 13:53] dominiquesydow opened #141 "T017: Website rendering is incorrect"
The rendering of T017 (and only T017) is off on our website
https://projects.volkamerlab.org/teachopencadd/talktorials/T017_advanced_nglview_usage.html#Practical

Maybe this is related to saved widget states (though we do save them in other notebooks, too).

[2021-09-09 15:02] dominiquesydow opened #143 "Website: Some "previous" and "next" buttons are mixed up"
Website: For the new talktorials, the "previous" and "next" buttons are mixed up.
Example:
![](https://user-images.githubusercontent.com/7207093/118269442-0a549280-b4bf-11eb-87f6-d74cbacd3c0c.png)

This is not time sensitive.

[2021-09-15 16:05] hainm commented on #141
@dominiquesydow

May be: https://github.com/nglviewer/nglview/issues/889

and FYI: Using `view.gui_style = 'ngl'` might mess up your website's font: https://github.com/nglviewer/nglview/issues/988

By the ways, great `nglview` tutorials. Thanks.

[2021-09-21 14:59] gph82 commented on #141
Hi, I think these are indeed related nglviewer/nglview#988. @dominiquesydow it'd be great if you manage to solve this!

[2021-09-21 23:09] andresilvapimentel opened #147 "Issue on T009 · Ligand-based pharmacophores"
The command feature_factory = AllChem.BuildFeatureFactory(str(Path(RDConfig.RDDataDir) / "BaseFeatures.fdef")) is not working. It gives the error message:

[code]

It solved with the command `feature_factory = os.path.join(RDConfig.RDDataDir,'BaseFeatures.fdef')`
but the following command also gives an error message:

[code]

Please, help me solving these issues. Thanks.

[2021-09-22 00:42] andresilvapimentel opened #148 "Issue on tutorial T010_binding_site_comparison"
I found difficulty to install the tutorial T010 because It seems the MDAnalysis package is not installed properly or numpy package is with an issue. Please, see the error message below:

[code]

[2021-09-22 07:40] dominiquesydow commented on #148
Hi @andresilvapimentel, thank you for your report!
I cannot reproduce the error locally; what operating system are you using?

Could you please re-install the environment?

Side note: I recommend using `mamba` instead of `conda` because it is so much faster:
https://mamba.readthedocs.io/en/latest/installation.html#mamba

[code]

[2021-09-22 07:48] dominiquesydow commented on #147
Hi @andresilvapimentel, since I cannot reproduce this error locally either, could you please also rerun this notebook with the new environment as described in https://github.com/volkamerlab/teachopencadd/issues/148?

Please ping me again, if the new environment does not resolve the problem, then I'll think of something new :)

[2021-09-22 10:46] andresilvapimentel commented on #148
I am using google colab.
I did:
1)
pip install --upgrade MDAnalysis
import MDAnalysis
from MDAnalysis.analysis import rms

2)
!pip install https://github.com/volkamerlab/opencadd/archive/master.tar.gz

3)
!pip install condacolab
import condacolab
condacolab.install()

!wget https://raw.githubusercontent.com/volkamerlab/TeachOpenCADD/master/devtools/other-conda-envs/users_env.yml
!mamba env update

[2021-09-22 12:49] dominiquesydow commented on #148
Hi @andresilvapimentel,

I can reproduce the problem on Google Colab.
It has been discussed here without a solution yet: https://github.com/MDAnalysis/mdanalysis/issues/3286
Maybe the `numpy` version installed on Colab conflicts with the `numpy` version installed via our environment?

Since I cannot offer a fix, as an alternative I suggest to run the notebooks locally via Jupyter Lab or via Binder

[2021-09-22 12:55] dominiquesydow opened #149 "Add support for Google Colab"
We currently offer running the notebooks
- locally via Jupyter Lab
- remotely via Binder

---

In the future, add support for Google Colab.

Per notebook add cells at the beginning of the notebook to install the dependencies from our `teachopencadd` environment, e.g. like this (see discussion https://github.com/volkamerlab/teachopencadd/issues/129#issuecomment-913715209):

[code]

[code]

However,

[2021-09-22 18:22] andresilvapimentel commented on #147
Solved!!! Thanks.

[2021-09-22 18:22] #147 closed

[2021-09-23 15:05] schallerdavid commented on #149
I found a workaround for colab and MDAnalysis (#148). However, google colab does not support nglview. So, there is no way we can make all talktorials properly work out on colab ([#816](https://github.com/nglviewer/nglview/issues/816)).

[2021-09-24 02:44] andresilvapimentel commented on #148
It works now!!! Thanks!!!!

[2021-09-24 02:44] #148 closed

[2021-09-29 08:46] dominiquesydow opened #150 "Fix env: `numpy` version conflicts with `mdanalysis`"
The issue described here
https://github.com/volkamerlab/teachopencadd/issues/148

[code]

which I thought was limited to Google Colab only, turns up now also in our CI:
https://github.com/volkamerlab/teachopencadd/runs/3739822832?check_suite_focus=true#step:8:131

In our [environment](https://github.com/volkamerlab/teachopencadd/blob/master/devtools/test_env.yml), we are not installing `numpy` dir

[2021-09-29 08:53] dominiquesydow commented on #148
Hi @andresilvapimentel, just as a follow-up: I get the same problem now locally, too, so it is not restricted to Google Colab after all. I am trying to fix the issue here: https://github.com/volkamerlab/teachopencadd/issues/150

[2021-09-29 11:28] dominiquesydow commented on #149
Linking https://github.com/volkamerlab/teachopencadd/pull/151 because the MDAnalysis problem (for Colab or not) may get resolved there.

[2021-10-04 07:36] dominiquesydow opened #152 "Reminder: Remove `jsonschema` from environments"
Remove `jsonschema` from environments once this is resolved: https://github.com/Yelp/bravado/issues/478

More details below.

---

### Description

T011+T012+T014 use a Swagger API via `bravado`.

We get the following error in our CI probably since the 4.0.0 release of `jsonschema` used by `swagger_spec_validator` used by `bravado`:

[code]

CI error:
https://github.com/volkamerlab/teachopencadd/r

[2021-10-04 09:04] #150 closed

[2021-10-13 10:21] dominiquesydow opened #154 "Fix CI: Tests do not start under Win + supposedly broken links"
EDIT: Both problems seem to have disappeared
- Docs passing: https://github.com/volkamerlab/teachopencadd/actions/runs/1341847539
- CI Windows passing: https://github.com/volkamerlab/teachopencadd/actions/runs/1341847538

- The "This check failed" problem under Windows could be temporary from GHA's side
  - https://github.com/actions/virtual-environments/issues/841
  - https://github.com/actions/v

[2021-10-14 14:21] #154 closed, assigned to dominiquesydow

[2021-10-14 20:46] #138 closed

[2021-10-15 09:42] dominiquesydow opened #156 "T001: Update number of molecules/bioactivities/..."
Notebook contains outdated molecule stats.

- Test mentions #bioactivities - remove (numbers will change easily over time, text mentions make maintenance difficult) - [location](https://projects.volkamerlab.org/teachopencadd/talktorials/T001_query_chembl.html#Fetch-bioactivity-data-for-the-target-from-ChEMBL)
- `from_records` duplicates the first item in the result list > maybe mention this, will

[2021-10-29 10:55] dominiquesydow opened #160 "Add `nbsphinx` thumbnails to talktorial gallery"
## Procedure
Procedure for adding `nbsphix` thumbnails to the [gallery](https://projects.volkamerlab.org/teachopencadd/talktorials.html):
- Open talktorial with JupyterLab
- Open "Property inspector" menu on the right site of the browser
  ![image](https://user-images.githubusercontent.com/7207093/139435011-966acccf-05fa-48f3-9a04-6f2f8f421264.png)
- Go to the cell with the output that shall be us

[2021-10-29 13:25] #160 closed, assigned to dominiquesydow

[2021-11-02 08:54] dominiquesydow opened #163 "T014: InvalidSchema for ProteinsPlus?"
CI fails for T014:
https://github.com/volkamerlab/teachopencadd/runs/4076835594?check_suite_focus=true#step:8:91

[code]

Look into this :)

[2021-11-02 13:08] #156 closed

[2021-11-02 19:34] jaimergp opened #169 "Opengraph metadata for richer social media previews"
I just noticed our beloved website does not render nice previews when you tweet about it. The repo is fine because GitHub does add the opengraph metadata for us, but the sphinx site is not doing this. Fortunately, there's a Sphinx extension we can leverage to do just this and it looks like it's minimal work!

https://github.com/wpilibsuite/sphinxext-opengraph

[2021-11-05 10:51] PARODBE opened #171 "Installation question"
Hi everyone!

I am trying to reproduce your code of : https://projects.volkamerlab.org/teachopencadd/talktorials/T008_query_pdb.html

But I have a problem with: results = align(complexes, method=METHODS["mda"])

Because it requiere that biopython contains alphabet and in this version have been removed, I have tried downgrade at 1.77 version of biopython but it doesn't work for me.

Could you help

[2021-11-05 12:22] dominiquesydow commented on #171
Hi @PARODBE,

Thanks for your report! Could you please help us and post the following:

- From where you are running the notebook (local Jupyter Lab, Binder, Google Colab)?
- How did you install the environment needed for the talktorials?
- Could you please print the full error message _incl. code cell_ (should be cell 30).

[2021-11-05 12:43] PARODBE commented on #171
Finally, I have got solve the problem, downgrade the biopython has worked, I don't understand the reason why at the beginning not.

I am working on local jupyter notebook.

I have reading your another notebook doing docking, and I am having some problems installing openbabel for windows, I can installing the gui obviously, but for run in python? I have downloades the tar.gz and I have done python

[2021-11-05 13:12] dominiquesydow commented on #171
Great, happy to hear you got the notebook to run!!

Regarding the second installation question:
Have you installed the conda environment using:

[code]

If not - could you please try and let me know if you have still problems?

[2021-11-05 13:37] PARODBE commented on #171
Uoooo so so useful!!!! Thank you so so much! Now you have a fan of your repository! haha

By the way, this would be more a debate that a question. Normally for predict endpoints (classification or regression problems doesn't matter), you use as a input, 2d descriptors of RDKIT or fingerprints, and I know that it is possible to obtain 3D information with rdkit and Also there are another libraries f

[2021-11-05 14:05] dominiquesydow commented on #171
Yay, that is wonderful!!!

The full installation instructions are on our website
https://projects.volkamerlab.org/teachopencadd/installing.html
The installation will become much easier next week I hope with a simple `mamba install teachopencadd` command.

Regarding the 3D descriptors these resources come to my mind. Unfortunately, I have no experience myself with how they improve ML/DL models.
htt

[2021-11-05 14:38] PARODBE commented on #171
Thank you!

I have another question, in a part of the code you define the ligand such as:

ligand_resname = "IRE"
ligand = structure.select_atoms(f"resname {ligand_resname}")
pocket_center = (ligand.positions.max(axis=0) + ligand.positions.min(axis=0)) / 2
pocket_size = ligand.positions.max(axis=0) - ligand.positions.min(axis=0) + 5

In this part if you had a molecule generated by for example Gene

[2021-11-08 07:41] dominiquesydow commented on #171
Hi @PARODBE,

Could you please post your last question in our new Discussion section (incl. a note which talktorial you refer to)? https://github.com/volkamerlab/teachopencadd/discussions (Category Q&A)

We want to channel all discussions to that section, while reserving the issues only for bugs and feature requests. This helps us to organize ourselves better - and helps other people to find previ

[2021-11-08 07:41] #171 closed

[2021-11-08 16:47] dominiquesydow opened #174 "Windows installation: Add `defaults` channel to install `tensorflow >=2`"
**Is your feature request related to a problem? Please describe.**
Under Windows, we cannot install `tensorflow >=2` via conda-forge.

**Describe the solution you'd like**
Add `defaults` channel to
- environment file [here](https://github.com/volkamerlab/teachopencadd/blob/ds-conda-forge/devtools/test_env.yml)
- installation description via `teachopencadd` conda package: `mamba install teachopenca

[2021-11-09 07:22] dominiquesydow opened #175 "`teachopencadd` conda package installation fails"
**Describe the bug**
The new `teachopencadd` conda package does not install because of problems with `openmm`.

**To Reproduce**
Command:
[code]
Output:
[code]

Same for
[code]

**Expected behavior**
Installs `teachopencadd` :)

**Configuration (please complete the following information):**
 - How did you use TeachOpenCADD? From conda package.
 - Version of packages involved in the issue: `teachop

[2021-11-09 12:07] dominiquesydow commented on #175
@jaimergp solved this issue; it seems to be a rather rare installation case.

I have an older CUDA version on my system which conflicts with installing OpenMM
[code]
shows (amongst others)
[code]

This is what happens while solving the environment:
- Case 1: if you don't have a GPU, OpenMM will install because `__cuda` is not set (conda does not find the nvidia drivers, and doesn't restrain that)

[2021-11-09 12:07] #175 closed

[2021-11-10 16:24] dominiquesydow commented on #163
ProteinsPlus is back :partying_face:

[2021-11-11 10:08] #174 closed

[2021-11-11 11:26] #169 closed

[2021-11-13 07:02] dominiquesydow opened #180 "T018: OpenBabel `PerceiveBondOrders` warnings"
**Describe the bug**

Taken from @Armin-Ariamajd's https://github.com/volkamerlab/teachopencadd/pull/125#issuecomment-966819947

**Configuration (please complete the following information):**
 Installation from `test_env.yml` file; Ubuntu

[code]

Assigning this issue to @corey-taylor for after PR #179 has been merged.

[2021-11-18 09:17] t-kimber opened #182 "CI not passing"
Is the CI on your new talktorial not passing the CI tests?

Here's a list of things you can try:
Assuming you are in the `teachopencadd` folder:

 - For the black test, run the following: `black-nb -l 99 teachopencadd/`
 - For the README test, run the following:
[code]
- For Python versions: you could ignore timeout errors.
- Docs: mmhhh.. read the errors.

[2021-11-30 11:15] #41 closed

[2021-11-30 11:16] #182 closed

[2021-12-02 09:54] dominiquesydow opened #189 "<details> - rendering on GH is off"
### Discussed in https://github.com/volkamerlab/teachopencadd/discussions/188

<div type='discussions-op-text'>

<sup>Originally posted by **AndreaVolkamer** November 30, 2021</sup>
When looking at the GH rendering of [T18](https://github.com/volkamerlab/teachopencadd/blob/t018/teachopencadd/talktorials/T018_automated_cadd_pipeline/talktorial.ipynb) the information we put in `<details>` is
a) not

[2021-12-02 09:54] dominiquesydow commented on #189
Note: We have the same behavior in all other notebooks that use this HTML tag.

- [T001](https://github.com/volkamerlab/teachopencadd/blob/master/teachopencadd/talktorials/T001_query_chembl/talktorial.ipynb) (before cell 12)
- [T011](https://github.com/volkamerlab/teachopencadd/blob/master/teachopencadd/talktorials/T011_query_online_api_webservices/talktorial.ipynb) (before cell 17)
- [T022](https

[2021-12-02 10:43] dominiquesydow commented on #189
I posted our problem on the Jupyter Discourse Forum:https://discourse.jupyter.org/t/incorrect-rendering-on-github-of-details-html-tags-inside-jupyter-notebooks/11979

[2021-12-03 17:44] dominiquesydow opened #191 "T018: Different OS result in different results"
The pipeline notebook T018 returns stable results for Ubuntu, MacOS, and Windows _individually_, however, _different_ results when comparing across different OS.

We will add a note about this at the beginning of T018 and try to track down here where the notebooks start to differ.

I am linking here notebook outputs for different operating systems

- <Windows, Python X.X> (Andrea's run): [notebook

[2021-12-03 17:46] dominiquesydow commented on #191
@AndreaVolkamer and @corey-taylor could you please update the <> parts?

@corey-taylor could you please attach the HTML version of your notebook to the comment above?

[2021-12-07 09:59] dominiquesydow opened #194 "T018 / website: NGLview 3D visualization not shown"
On our website, the T018 3D visualizations with NGLview are not shown.

Compare
https://projects.volkamerlab.org/teachopencadd/talktorials/T018_automated_cadd_pipeline.html#Processing-the-input-protein-data
to 3D view in
https://projects.volkamerlab.org/teachopencadd/talktorials/T012_query_klifs.html#4.-Show-the-structure-with-nglview

[2021-12-07 10:09] AndreaVolkamer commented on #194
@dominiquesydow they also do not show in the talktorial itself: https://nbviewer.org/github/volkamerlab/teachopencadd/blob/master/teachopencadd/talktorials/T018_automated_cadd_pipeline/talktorial.ipynb
Can you double check if they were shown on your local system before you pushed the notebook (I sometimes have trouble with nglview if i executed a notebook too many times ...).

[2021-12-07 10:12] dominiquesydow commented on #194
I am on it now. I think on the new laptop I have not had "Save widget state automatically" ticked, yet.
The 3D viz was there before I pushed but I think the state was not saved. Maybe --- hopefully --- this is all :)

[2021-12-07 15:40] #194 closed

[2021-12-08 11:40] dominiquesydow opened #199 "CI: Add `redo` decorator to cells that frequently show connection problems"
There are a few requests in our talktorials that often show HTTPErrors, connection timeouts, or something similar.
That happens usually only in our CI (the webservers probably have some kind of filtering for CI requests, which makes sense to me).

Let's collect here frequently hit cells so that we can add our `redo` decorator at some point to make the CI retry a few times before it fails.

- [ ] T

[2021-12-08 11:46] dominiquesydow opened #200 "Installation docs assume conda-forge channel already in conda config"
See this issue: https://github.com/volkamerlab/opencadd/issues/126

Update docs here: https://projects.volkamerlab.org/teachopencadd/installing.html

[2021-12-15 05:27] dominiquesydow opened #203 "T016: HTML rendering of list items"
Fix HTML rendering of list items:

https://projects.volkamerlab.org/teachopencadd/talktorials/T016_protein_ligand_interactions.html#Profiling-protein-ligand-interactions-using-PLIP

[2021-12-15 05:28] dominiquesydow commented on #203
And remove one indent level in docstrings:

[code]

[2021-12-15 05:30] dominiquesydow commented on #203
data frame > DataFrame

[2021-12-15 05:33] dominiquesydow commented on #203
`show_interactions_3D` > `show_interactions_3d`

[2021-12-15 05:34] dominiquesydow commented on #203
`show_interactions_3D` - center on ligand!

[2021-12-16 21:27] dominiquesydow opened #204 "Temporarily pin rdkit<=2021.09.2"
I am seeing this error in TeachOpenCADD and OpenCADD since yesterday(?):

[code]

https://github.com/volkamerlab/teachopencadd/runs/4542687313?check_suite_focus=true#step:8:63

Any help appreciated to track down the trouble-maker :)
@t-kimber, @schallerdavid, @corey-taylor - any chance, any one of you has some time at their hands tomorrow to check this out?

[2021-12-16 21:31] dominiquesydow commented on #203
Hi @t-kimber, would you have some capacity to take a look at this list of minor text issues I found in T016? Nothing urgent, notebook is fully functional!

[2021-12-17 07:24] schallerdavid commented on #204
Sure, I will investigate, looks like a rdkit pandastools problem to me.

[2021-12-17 07:29] t-kimber commented on #203
Of course, thanks for spotting them. I also changed `viewer_3D`> `viewer_3d` to be consistent with `show_interactions_3d`.

[2021-12-17 16:36] #137 closed

[2021-12-17 17:32] #203 closed

[2021-12-20 12:42] schallerdavid commented on #199
Similar failures I observed during CI runs:

- [ ] T008 / PDB: Cell 21 - [example CI fail](https://github.com/volkamerlab/teachopencadd/runs/4560920466?check_suite_focus=true)
- [ ] T017 / PDB: Cell 61 - [example CI fail](https://github.com/volkamerlab/teachopencadd/runs/4558265938?check_suite_focus=true)
- [ ] T017 / PDB: Cell 64 - [example CI fail](https://github.com/volkamerlab/teachopencadd/ru

[2021-12-25 16:25] sergeismolnikov opened #209 "T008 AttributeError: module 'Bio' has no attribute 'Alphabet'"
-----------------------------------------

If you have a question about TeachOpenCADD please use the Discussions tab above (https://github.com/volkamerlab/teachopencadd/discussions) instead of posting it here.

Please delete this section before submitting your issue.

-----------------------------------------

**Describe the bug**

When I tried to run Talktorial008, the jupyter cell with the align

[2021-12-25 16:27] #209 closed

[2021-12-25 16:27] sergeismolnikov commented on #209
solution for this issue if here https://github.com/volkamerlab/teachopencadd/issues/108

[2021-12-31 06:18] #200 closed

[2022-02-24 20:31] ryansmithdogs opened #213 "Detection By Coordinates Issue"
https://github.com/volkamerlab/teachopencadd/blob/03a43302cbf485005a17c5b9a7de13ed529f3ccd/teachopencadd/talktorials/T018_automated_cadd_pipeline/utils/binding_site_detection.py#L51

I ran into an issue when attempting to define the binding site through the use of coordinates in the binding_site_detection.py util under T018. After further investigation, an error stated it was failing on line 51 du

[2022-02-25 13:33] AndreaVolkamer commented on #213
@ryansmithdogs thanks for the pointer.
@corey-taylor could you please have a look into this and add the suggestion to the code?

[2022-03-11 13:35] corey-taylor commented on #213
Addressed in https://github.com/volkamerlab/teachopencadd/pull/216

[2022-03-28 19:36] dominiquesydow opened #218 "CI fails with un-descriptive conda error message"
CI fails with un-descriptive conda error message:
´Error: The process '/usr/share/miniconda/condabin/conda' failed with exit code null´
https://github.com/volkamerlab/teachopencadd/runs/5726180943?check_suite_focus=true#step:3:325

Not sporadic.

See discussion here: https://github.com/conda-incubator/setup-miniconda/issues/116

[2022-03-28 20:58] dominiquesydow commented on #218
This issue was addressed in https://github.com/volkamerlab/teachopencadd/pull/216
(by adding mamba as resolver).

[2022-03-28 20:59] #218 closed

[2022-03-28 21:14] dominiquesydow commented on #213
@corey-taylor could you please double-check if this is completely resolved with #216? If yes, please go ahead and close the issue. Thank you!

[2022-03-28 22:26] dominiquesydow opened #220 "Docs CI warnings not turned into errors anymore"
This issue summarizes changes made to the docs CI.

A subset of notebooks shows docs build warnings, which were turned into errors in the docs CI, although the generated HTMLs look fine.

Example:
[code]
https://github.com/volkamerlab/teachopencadd/runs/5728279025?check_suite_focus=true#step:8:36

I do not understand what is wrong - the output looks fine. If someone has an idea how to fix the root

[2022-03-28 22:54] dominiquesydow opened #221 "Temporarily pin jinja2==3.0.3"
Pin jinja2 to fix failing docs:
https://github.com/volkamerlab/teachopencadd/runs/5686402020?check_suite_focus=true#step:8:42

Discussed here: https://github.com/sphinx-doc/sphinx/issues/10289

Unpin once jinja2 issue is resolved.

[2022-03-29 11:47] #213 closed

[2022-04-01 10:36] schallerdavid opened #227 "KekulizeException T006"
**Describe the bug**
The new RDKit release throws a KekulizeException at cell 21 of T006. It is about the Smarts pattern `"[#6](:,-[#6]-,:[#7]-,:[#6]1:[#6]:[#6]:[#6]:[#6]:[#6]:1):,-[#6]:,-[#7]:,-[#6]"` and the visualization with `Draw.MolsToGridImage`.

[2022-04-01 10:38] schallerdavid commented on #227
RDKit issue - [5156](https://github.com/rdkit/rdkit/issues/5156)
TeachOpenCADD PR - #226

[2022-04-14 12:44] dominiquesydow opened #228 "Extend installation instructions"
Extend a bit on our Installation instructions.
https://projects.volkamerlab.org/teachopencadd/installing.html

Add to step 4: "This command will open Jupyter Lab for you and show you all the talktorials to work with"

[2022-04-26 05:12] schallerdavid opened #231 "T008: Too many requests under windows"
It has been hard for quite some time to get the CI passing for T008 under windows. The biotite rcsb requests in cell 5 and below very often resulted in "Too many requests errors". Often it is enough to just restart the workflow under windows, but this is getting a little tedious every week. I tried adding some sleep time but this does not improve (#229). Maybe there is also a way to use the redo d

[2022-06-04 09:35] dominiquesydow opened #240 "Fix CI"
- [x] Change link: https://docs.python-requests.org/en/master/ to https://requests.readthedocs.io/en/latest/ > fixed as part of https://github.com/volkamerlab/teachopencadd/pull/239
- [x] Run `black-nb `on T019

[2022-06-05 11:08] #240 closed

[2022-06-05 11:49] t-kimber opened #243 "Installation with Apple M1 chip"
**Describe the bug**
The command found on the website's installation https://projects.volkamerlab.org/teachopencadd/installing.html doesn't work with an Apple computer using the M1 chip.
`mamba create -n teachopencadd teachopencadd`

**Configuration:**
 -  Installation from conda package
   - OS: MacBook Air 12.4 (M1, 2020)

Use the following:

[code]

[2022-06-06 10:54] dominiquesydow opened #244 "New release 2021.12.2"
Cut a new TeachOpenCADD and conda release once the revision was successful (just keeping this item here so that we do not forget)

[2022-06-16 12:24] dominiquesydow opened #245 "Add CITATION.cff"
See https://github.com/cimm-kzn/3D-MIL-QSAR/issues/20

[2022-06-19 17:08] dominiquesydow commented on #245
We have multiple citations for TeachOpenCADD, depending on which portion of the platform is being used as described in this section: https://github.com/volkamerlab/teachopencadd#citation

`CITATION.cff` does not support multiple citations per se, see https://github.com/citation-file-format/citation-file-format/issues/339

We could use `CITATION.cff` for the code DOI (zenodo) only and hope users st

[2022-06-19 20:51] dominiquesydow commented on #227
Check if we can unpin RDKit, see https://github.com/rdkit/rdkit/issues/5156#issuecomment-1091846722

[2022-06-19 20:52] dominiquesydow commented on #204
By now, RDKit is pinned to 2021.09.5, see https://github.com/volkamerlab/teachopencadd/issues/227 - closing this issue.

[2022-06-19 20:52] #204 closed

[2022-06-20 21:57] dominiquesydow opened #247 "MacOS CI seems to have notebook setup problems?"
Flagging here that we see notebook setup fails in MacOS CIs, e.g. for [T020](https://github.com/volkamerlab/teachopencadd/runs/6957562374?check_suite_focus=true#step:8:37) or [T021](https://github.com/volkamerlab/teachopencadd/runs/6960015584?check_suite_focus=true#step:8:37). I do not see this problem locally, so thinking this might be a GHA issue at the moment.

[2022-06-24 06:36] BJWiley233 opened #248 "T008: Current query misses existing RCSB ligands"
Hi,

For talktorial 8 for accessing RCSB I think RCSB is having issue with not having all the ligands under the field `["rcsb_entry_info"]["nonpolymer_bound_components"]`.  For instance I am using MAP2K1 but I'm for sure it will affect other proteins and for entry https://data.rcsb.org/rest/v1/core/entry/3ZLS there is only `["NA"]` value for `nonpolymer_bound_components` when the [structure](https

[2022-07-19 10:09] dominiquesydow opened #252 "T008+T010: RCSB query 404 errors"
We see 404 HTML errors for RCSB queries in T008 and T010, e.g. T008 cell 5.

[code]

**UPDATE 2022-07-21: Update `biotite` to version 0.34.0 and the notebooks will run again under Python >= 3.8!**

[2022-07-19 10:18] dominiquesydow commented on #252
RCSB did another API change, which will be picked up shortly in `biotite` - this should fix the CI fails we are seeing in TeachOpenCADD. See https://github.com/biotite-dev/biotite/issues/405.

[2022-07-19 10:49] #228 closed

[2022-07-19 10:49] #243 closed

[2022-07-19 10:51] dominiquesydow commented on #244
We did that already in June: https://github.com/volkamerlab/teachopencadd/releases/tag/2021.12.2

[2022-07-19 10:51] #244 closed

[2022-07-21 09:20] BJWiley233 commented on #252
Nice catch :)

[2022-07-21 10:00] dominiquesydow commented on #252
Thanks to the latest release of `biotite`(0.34.0), our `teachopencadd` tests are running again for Python 3.9:
https://github.com/volkamerlab/teachopencadd/runs/7445740051?check_suite_focus=true 🎉

Under Python 3.7, we seem to be stuck with `biotite` 0.31.0, hence the tests are still failing. Why is this happening? Not sure.
- The `conda` recipe does no Python version pinning: https://github.com/c

[2022-07-21 10:12] jaimergp commented on #252
They are doing `skip: True` for Python < 3.8 in the build section.

I think it's ok if we bump our Python requirements to Python 3.8 and above. Otherwise we need to soft import biotite and error out gracefully indicating that Python 3.8+ is required for those notebooks.

[2022-07-21 10:20] dominiquesydow commented on #252
Oh, yes, now I see it, too, thanks! (note to myself: [see this line](https://github.com/conda-forge/biotite-feedstock/blob/4cc79ddbaa7bbc70b9b893c4c2fc5d585f017124/recipe/meta.yaml#L16))

Bumping up our requirements to Python 3.8 in https://github.com/volkamerlab/teachopencadd/pull/254.

[2022-07-22 16:17] #252 closed

[2022-08-01 09:55] dominiquesydow opened #255 "T001: ChEMBL `HttpApplicationError`"
**Describe the bug**

Our nightly CI run shows the following error when querying ChEMBL (all OS); see below.
Seems to be random, at first I could reproduce the error locally but now it works without problems; so not a problem on our end. Still, fails now every time in our CI - I do not have a solution, yet.

---
[code]

[2022-08-01 10:57] dominiquesydow commented on #247
We have not seen this issue lately anymore. Maybe because we bumped up our MacOS Python version to 3.8, I do not know. Closing this issue until this issue comes up again.

[2022-08-01 10:57] #247 closed

[2022-08-01 12:55] dominiquesydow opened #258 "T024: Plot sequence logo from Python"
I just came across this while searching for something else - it seems like there is an option to plot sequence logos from Python :tada:

https://www.biotite-python.org/examples/gallery/sequence/anderson_logo.html#sphx-glr-examples-gallery-sequence-anderson-logo-py

Pinging @t-kimber because we were wondering about this when working on the current version of T024.

[2022-08-01 13:08] dominiquesydow commented on #258
Oh my, this whole `biotite` example collection is a gold mine:
https://www.biotite-python.org/examples/gallery/index.html

@AndreaVolkamer for the future, worth thinking about using some of these visualizations in TeachOpenCADD talktorials (could be smaller student projects).
- Ramachandran plots: https://www.biotite-python.org/examples/gallery/structure/ramachandran.html#sphx-glr-examples-gallery

[2022-08-01 13:48] dominiquesydow commented on #231
I think this is a duplicate of https://github.com/volkamerlab/teachopencadd/issues/199, so I am closing this issue - but we still have this on the radar.

Just to note, I think the request errors have been less frequent lately but still adding the `redo` decorator is a good idea.

[2022-08-01 13:48] #231 closed

[2022-08-01 20:05] BJWiley233 commented on #248
I have actually been using `graphQL` based on Rachel Green's advice at RSCB.  It works well and you don't need to make it a single line to work:
[code]

[2022-08-03 17:15] khanmf opened #260 "T008: HTTPError: 403 Client Error: Forbidden for url: http://ligand-expo.rcsb.org/reports/8/8AM/"
Hi,

In T008, while running codes:

[code]

I am getting following error:

[code]
Please help me in resolving the issue.

Thanks,
Faraz

[2022-08-04 08:34] dominiquesydow commented on #260
Hi @khanmf,

Thanks a lot for raising this issue; I noticed problems yesterday as well (the website was still ok on Tuesday). I had hoped that the issue is resolved today (sometimes waiting a day helped in the past with other webservices) but that does not seem to be the case.
1. Search page: http://ligand-expo.rcsb.org/ld-search.html
Entering e.g. STI in the first Search box returns now an “Oops

[2022-08-05 09:05] dominiquesydow commented on #260
Good news, @khanmf, the RCSB team has resolved this issue :tada:

[2022-08-05 09:05] #260 closed

[2022-08-05 10:28] #248 closed

[2022-08-05 10:35] khanmf commented on #260
@dominiquesydow Great! Thanks for letting me know.

[2022-08-05 10:49] khanmf commented on #248
Hi @dominiquesydow ,

When I am running the same coddes for **pdb_id = '3POZ'**, it is giving the following error:

Traceback (most recent call last):
  File "PDB_Query.py", line 428, in <module>
    ligand_id, properties = max(ligands.items(), key=lambda kv: kv[1]["Molecular weight"])
ValueError: max() arg is an empty sequence

How this could be an empty sequence when there are two bound ligands

[2022-08-05 10:58] dominiquesydow commented on #248
Did you pull the latest changes from the `master` branch already?

The updated `get_ligand` function
[code]
returns the following:
[code]

[2022-08-05 13:03] khanmf commented on #248
@dominiquesydow Thanks. I haven't seen the recent changes in the codes. Its working fine, now.

[2022-08-05 13:08] khanmf commented on #255
Hi, any update on this issue?

Thanks,
Faraz

[2022-08-05 15:31] dominiquesydow commented on #255
This issue seems to be related to an 500 Server error from EBI and is already raised on `chembl_webresource_client`'s side, see discussion here: https://github.com/chembl/chembl_webresource_client/issues/120.

This is a minimum example of the error (same error as in my first post but location where it happens differs (now?)):
[code]
with the error
[code]

The site https://www.ebi.ac.uk/chembl/api/

[2022-08-12 12:35] dominiquesydow opened #261 "Resources on Jupyter notebooks"
Collect resources on how to use Jupyter notebooks - to be added to the TeachOpenCADD documentation:

- https://www.dataquest.io/blog/jupyter-notebook-tutorial/

[2022-08-12 14:31] dominiquesydow commented on #255
Good news! This issue has been resolved by the EBI/`chembl_webresource_client` team (see update [here](https://github.com/chembl/chembl_webresource_client/issues/120#issuecomment-1212101309)).
T001 is running again, hence closing this issue!

[2022-08-12 14:31] #255 closed

[2022-08-19 16:53] sbhong238 commented on #261
Collect resources on how to use Jupyter notebooks - to be added to the TeachOpenCADD documentation:

https://www.dataquest.io/blog/jupyter-notebook-tutorial/

[2022-08-23 09:49] dominiquesydow opened #262 "Broken notebooks using ipywidget -> nglview (`AttributeError`)"
Our weekly CI failed. All notebooks using `ipywidgets` are broken with new version 8; affects e.g. `nglview` notebooks.

Error message:
`AttributeError: 'super' object has no attribute '_ipython_display_'`

See discussions here:
https://github.com/nglviewer/nglview/issues/1032
https://github.com/jupyter-widgets/ipywidgets/issues/3552

Solution for now:
Pin `ipywidgets` to version 7, see https://gi

[2022-08-23 12:46] dominiquesydow opened #265 "T021/22: Deprecated `tensorflow` imports?"
## Description

Our scheduled CI shows fails for `tensorflow` imports on Windows. Compared to last week (passing CI), the installed `tensorflow` versions changed from 2.6 to 2.8.

[code]

## Todos
- Look into possibly new import signatures as discussed here: https://github.com/googlecolab/colabtools/issues/2623
- The latest versions shown on `conda-forge` do not match the version installed during

[2022-08-23 12:49] #262 closed

[2022-09-01 15:42] dominiquesydow commented on #265
I am confused by the following observation about the `tensorflow` versions that are installed in our CI runs. Leaving a summary here:

We ask for `tensorflow>=2.0` ([here](https://github.com/volkamerlab/teachopencadd/blob/6dd66531462bbb00a65f2d3b8278f7518e25a254/devtools/test_env.yml#L16)) and specify the `conda` channels `conda-forge` and `defaults` (in that order!).
Let's check which `tensorflow

[2022-09-02 09:55] dominiquesydow commented on #265
After consultation with @t-kimber, we concluded that our usage of `tensorflow` in T021 and T022 is basic enough to justify sticking to the API as of version 2.6. Hence, I am pinning `tensorflow<=2.6`, which should allow running the talktorials for all OS and Python 3.8 and 3.9.

Change is incorporated in PR #267, see https://github.com/volkamerlab/teachopencadd/pull/267#issuecomment-1235301297.

[2022-09-02 14:13] #126 closed, assigned to nobody

[2022-09-16 09:04] dominiquesydow opened #273 "Update TeachOpenCADD citations"
Update TeachOpenCADD references on website:
https://projects.volkamerlab.org/teachopencadd/#citation

Streamline with
https://github.com/volkamerlab/teachopencadd#citation
(maybe move this to the website and add link?)

In this context, think about https://github.com/volkamerlab/teachopencadd/issues/245

[2022-10-14 09:10] dominiquesydow opened #275 "New talktorial on PCM: Notes from first conversation"
Notes from the conversation with @gorostiolam and @jesperswillem on their new PCM talktorial (discussed  from TeachOpenCADD's side with @AndreaVolkamer and @dominiquesydow):

- [ ] **Theory section**: Add theory (can we reuse bits from the slides you show your students?)
- [ ] **Practical section - packages**: Check all imports; ideally all packages are `conda` packages
  - `prodec` - pip only?

[2022-10-18 14:10] gorostiolam opened #280 "Talktorial T007: QSAR"
Is it possible to add a reference to the term QSAR modelling in talktorial T007? It would add context and take the users closer to understanding relevant literature in the field.

[2022-10-31 06:27] dominiquesydow opened #282 "Reminder: Remove pin for `ipywidgets>8`"
Pinned `ipywidgets` due to https://github.com/volkamerlab/teachopencadd/issues/262.
Remove this pin whenever possible.

[2022-11-29 16:55] Telomelonia commented on #261
@dominiquesydow
Assign this issue to me, I will make the documentation in the .rst file for - "How to use Jupyter notebooks" and will add it to /docs.